body {
    color:blue;
}
h2 {
    color:green;
    
}
strong {
    color:orange;
    font-weight:bolder;
}
h2 {
    background-color: lightsalmon;
    width: fit-content;
}
em {
    background-color: palegreen;
}
body {
    background-color:slategray;
    font-size: 1.5em;
    font-family: Cambria,Georgia,"Book Antiqua",serif
}
h1 {
    font-style: italic;
}
a:link {
    background-color:purple;
}
a:visited {
    color:black;
}
a:hover {
    color:red;
}
a:active {
    color:yellow;
}
h1, h2{
    color:darkred;
}
