body {
    color:blue;
}
h2 {
    color:green
    
}
strong {
    color:orange
}
h2 {
    background-color: lightsalmon;
    width: fit-content;
}
em {
    background-color: palegreen;
}
body {
    background-color:slategray;
    font-size: 1.5em;
}