body {
    color:blue;
}
h2 {
    color:green;
    
}
strong {
    color:orange;
    font-weight:bolder;
}
h2 {
    background-color: lightsalmon;
    width: fit-content;
}
em {
    background-color: palegreen;
}
body {
    background-color:slategray;
    font-size: 1.5em;
    font-family: Cambria,Georgia,"Book Antiqua",serif
}
h1 {
    font-style: italic;
    width: 600px;
}
a:link {
    background-color:purple;
}
a:visited {
    color:black;
}
a:hover {
    color:red;
}
a:active {
    color:yellow;
}
h1, h2{
    color:darkred;
}
p strong {
    color:purple;
}
p.intro { 
    font-style: italic;
}
img#beyonceImage{
    width:20%;
    float: left;
}
img#dreamTeam{
    width:20%;
}
h2 {
padding-bottom: 20px;
margin: 5px;
}
body {
margin-left: 20px;
margin-right: 20px;
}
.grouped-paragraph {
padding-left: 10px;
font-style: oblique;
font: arial;
color: black;

}
img#footballPic{
width:20%;
float: right;

}

img#BillJoel {
    float: right;
    width:20%;
}

nav ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
}